body{
    margin: 0px;
    font-family: 'Michroma', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
header{
    border-bottom: 2px solid rgba(20, 219, 96, 0.8);
    padding: 15px; 
    font-size: 3rem;
    text-align: center;
    background-color: rgba(100, 175, 100, 0.75);
}
header h1{
    margin: 0px;
}
#healthbar{
    border: 10px solid rgba(20, 219, 96, 0.8);
    margin: 50px;
    background-color: #b00;
    height: calc(5% + 30px);
    width: 50%;
    justify-self: center;
}
#healthbarFill{
    justify-self: end;
    height: 100%;
    width: 100%;/* you know the deal, change this to adjust the health */
    background-color: #0d0;
}
#invBox{
    margin-top: 150px;
    display:flex;
    justify-content: space-around;
    
}
.itemBox p{
    text-align: center;
    color: white;
    margin: 10px 0px;
    font-size: 2rem;
}
.item{
    width: 200px;
    height: 200px;
}
