html{
    height: 100%;
}
body{
    margin:0px;
    background-color: gray;
    height:100%
}
#gameWindow{
    width: 100%;
    height: 100%;
}
#allUi{
    display:flex;
    flex-wrap: wrap;
    height: 30%;
    width: 57.5%;
    position:fixed;
    bottom: 5%;
    justify-self: center;
}
p{
    margin: 0px;
    font-family: 'Michroma', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 1rem;
}
#textUi{
    width:100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(20, 219, 96, 0.8);
    border-radius: 3rem;
    margin: 5px;
}
#btnContainer{
    width:100%;
    height: 23%;
    display:flex;
}
.button{
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(20, 219, 96, 0.8);
    text-align: center;
    align-content: center;
    width: 33%;
    height: 85%;
    border-radius: 3rem;
}
.partyMember{
    margin: 20px;
}
.healthbar{
    height:25px;
    background-color: #b00;
    justify-content: center;
    width: 35%;
}
.healthbar p{
    position:fixed;
    justify-self: center;
    color: #eef
}
#boxiHealthFill{
    background-color: #0d0;
    justify-self: end;
    height: 100%;
    width: 100%; /* <--adjust this to adjust boxi's healthbar.  */
}
#brianHealthFill{
    background-color: #0d0;
    justify-self: end;
    height: 100%;
    width: 100%; /* <--adjust this to adjust brian's healthbar.  */
}
.button:hover{
    background-color: rgba(100, 125, 100, 0.7);
    cursor: pointer;
}